.app-body {
  margin-bottom: 100px;
}
h1 {
  font-size: 160%;
}

/* Navbar Links */
.navbar-nav > li > a {
  padding-top: 22px;
  padding-bottom: 22px;
}
.navbar-toggle {
  margin-top: 15px;
}
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: #fff;
}

/* Images */
img {
  width: 100%;
}

/* App Body */
.mid {
  margin: 0 auto;
}
.app-body {
  margin-bottom: 100px;
}

/* Sections */
.sections {
  padding: 0;
  background: #b8d9f1;
}
.sections .nav {
  padding: 0;
}
.sections .nav > li > a {
  color: #312c32;
  border-bottom: solid 1px #aaa;
}
.sections .nav > li.active {
  border-left: solid 4px #daad86;
  font-weight: bold;
}
.sections .nav > li.active {
  background: #fff;
}
.sections .nav > li > a:hover {
  background: #fff;
}

/* Progress */
.progress {
  background: #fafafa;
  border-radius: 0;
  margin-bottom: 0;
  text-align: center;
}
.sections,
.progress {
  min-height: 900px;
}
.progress a.btn {
  margin-top: 1em;
}
.progress .bg-success {
  line-height: 3em;
}
#progress {
  margin: 0 auto;
  margin-top: 80px;
  margin-bottom: 80px;
  width: 200px;
  height: 200px;
  position: relative;
}

/* Widths */
.width-90 {
  width: 90%;
}
.width-50 {
  width: 50%;
}

/* Forms */
label {
  font-size: 90%;
}
.account-form {
  margin-top: 80px;
}
.password-reset-form {
  margin-top: 20px;
}
.password-reset-form label {
  margin-left: -1.1em;
}
.password-reset-form .col-sm-9 {
  padding-right: 0;
}
.help-text {
  font-size: 82%;
  font-style: italic;
  color: #777;
}
.photo-field .help-text {
  font-size: 90%;
}
.tab-pane form {
  width: 90%;
}
.main {
  padding-top: 2.3em;
}
.photo-field {
  font-size: 90%;
}
.main form,
.sections {
  font-size: 97%;
}
.date {
  width: 92.95%;
  display: inline-block;
}
#id_year_applied {
  width: 15%;
}
.radio {
  display: inline-block;
  width: 80px;
}

/* Widgets */
.ui-datepicker-trigger {
  border: none;
  background: none;
}

/* Feedback */
.messages,
.messages li {
  margin: 0;
  padding: 0;
  text-align: center;
}
.messages li.success {
  color: #fff;
  background: #5cb85c;
}
.messages {
  list-style: none;
  margin-top: 1em;
}
.messages li {
  padding: .5em 0 .5em .5em;
}
.tick {
  color: #5cb85c;
}

/* Search */
.search-form {
  margin-bottom: 40px;
  margin-top: 40px;
}
.search-form .glyphicon-search {
  font-size: 195%;
}

/* Errors */
.errorlist {
  color: #e62739;
  font-size: 80%;
  list-style: none;
  padding-right: 1.3em;
  text-align: right;
}
