@font-face {
  font-family: Akkurat;
  src: url('../fonts/akkurat_regular.otf');
}
html, body {
  font-family: 'Akkurat', 'Abel', sans-serif;
}
.header {
  margin-bottom: 0;
  border-radius: 0;
}
.brand {
  font-size: 150%;
  color: #fff;
}

/* Nav */
.navbar-default {
  background: #3fb0ac;
  border: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}

/* App body */
.mid {
  margin: 0 auto;
}
.sheet {
  padding: 0 5em 3em 5em;
  margin-top: 50px;
  margin-bottom: 100px;
  border: solid 1px #eee;
  border-radius: 5px;
}

/* Widths */
.width-90 {
  width: 90%;
}
.width-50 {
  width: 50%;
}

/* Buttons */
.btn-primary {
  background-color: #ba9077;
  color: #fff;
  border: none;
}
.btn-primary:hover, .btn-primary:active {
  background-color: #b56969;
}

/* Forms */
.form-horizontal .errorlist {
  list-style: none;
  margin-left: 8em;
  color: #e62739;
}
.help-text {
  font-size: 90%;
}
