@font-face {
  font-family: Akkurat;
  src: url('../fonts/akkurat_regular.otf');
}
html, body {
  font-family: 'Akkurat', sans-serif;
  height: 100%;
}
body > .container-fluid {
  height: auto;
  min-height: 100%;
  background: url('../img/bg.jpg') no-repeat center center;
}
.header {
  margin-bottom: 0;
  border-radius: 0;
}

/* Search */
.search-form {
  margin-bottom: 40px;
  margin-top: 40px;
}
.search-form .glyphicon-search {
  font-size: 195%;
}

/* Nav */
.navbar-default .navbar-nav > li > a:focus,
.navbar-default .navbar-nav > li > a:hover {
  color: #fff;
}
.navbar-nav > li > a {
  padding-top: 22px;
  padding-bottom: 22px;
}
.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:focus,
.navbar-default .navbar-nav > .open > a:hover {
  background-color: transparent;
  color: #fff;
}
.navbar {
  min-height: 65px;
}
.headpad {
  padding-top: 7px;
}
.brand {
  font-size: 180%;
  color: #fff;
}
.brand div, .brand p {
  display: inline-block;
}
.brand p {
  margin-left: .5em;
}
.org-header {
  color: #fff;
  display: inline-block;
  font-size: 150%;
  margin-top: .62em;
  text-align: center;
  margin-left: 3em;
}
.navbar-default {
  background: #312c32;
  border: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:visited {
  color: #fff;
}
.navbar-default .navbar-nav > li > a:visited {
  color: #fff;
}
.sections {
  padding: 0;
  background: #b8d9f1;
}
.sections .nav {
  padding: 0;
}
.sections .nav > li > a {
  color: #312c32;
  border-bottom: solid 1px #aaa;
}
.sections .nav > li.active {
  border-left: solid 4px #daad86;
  font-weight: bold;
}
.sections .nav > li.active {
  background: #fff;
}
.sections .nav > li > a:hover {
  background: #fff;
}

/* App body */
.mid {
  margin: 0 auto;
}
.sheet {
  padding: 0 5em 3em 5em;
  margin-top: 50px;
  margin-bottom: 100px;
  border: solid 1px #eee;
  border-radius: 5px;
}

/* Widths */
.width-90 {
  width: 90%;
}
.width-50 {
  width: 50%;
}

/* Buttons */
form .btn-primary {
  background-color: #ba9077;
  color: #fff;
  border: none;
}
form .btn-primary:hover, .btn-primary:active {
  background-color: #b56969;
}

/* Widgets */
.ui-datepicker-trigger {
  border: none;
  background: none;
}

/* Forms */
.tab-pane form {
  width: 90%;
}
.main {
  padding-top: 2.3em;
}
.photo {
  margin-right: 1.7em;
}
.photo-field {
  font-size: 90%;
}
.main form,
.sections {
  font-size: 97%;
}
.main form {
  /* padding-top: 3em; */
  color: #777;
}
.date {
  width: 92.95%;
  display: inline-block;
}
#id_year_applied {
  width: 15%;
}
.errorlist {
  color: #e62739;
  font-size: 80%;
  list-style: none;
  padding-right: 1.3em;
  text-align: right;
}
.form-link {
  display: block;
  text-align: right;
  line-height: 2.3em;
  background: #eee;
  padding-right: 16%;
}
.radio {
  display: inline-block;
  width: 80px;
}
label {
  font-weight: normal;
}
.help-text {
  font-size: 82%;
  font-style: italic;
  color: #777;
}
.photo-field .help-text {
  font-size: 90%;
}

/* Progress */
.progress {
  background: #fafafa;
  border-radius: 0;
  margin-bottom: 0;
  text-align: center;
}
.sections,
.progress {
  min-height: 900px;
}
.progress a.btn {
  margin-top: 1em;
}
.progress .bg-success {
  line-height: 3em;
}

/* Percentage Loader */
#topLoader {
  margin-bottom: 32px;
  margin-top: 80px;
}

/* Messages */
.messages,
.messages li {
  margin: 0;
  padding: 0;
  text-align: center;
}
.messages li.success {
  color: #fff;
  background: #5cb85c;
}
.messages {
  list-style: none;
  margin-top: 1em;
}
.messages li {
  padding: .5em 0 .5em .5em;
}
.tick {
  color: #5cb85c;
}

/* Footer */
.footer {
  background: #312c32;
  color: #fff;
  padding-top: 30px;
  padding-bottom: 30px;
  padding-left: 20px;
  position: relative;
}
