@font-face {
  font-family: Akkurat;
  src: url('../fonts/akkurat_regular.otf');
}
html, body {
  font-family: 'Akkurat', sans-serif;
}
.header {
  margin-bottom: 0;
  border-radius: 0;
}

/* Nav */
.brand {
  font-size: 150%;
  color: #fff;
}
.school-header {
  color: #fff;
  display: inline-block;
  font-size: 150%;
  margin-top: .62em;
  width: 79%;
  text-align: center;
}
.navbar-default {
  background: #312c32;
  border: none;
}
.navbar-default .navbar-brand,
.navbar-default .navbar-nav > li > a {
  color: #fff;
}
.navbar-default .navbar-brand:hover,
.navbar-default .navbar-brand:visited {
  color: #98dafc;
}
.navbar-default .navbar-nav > li > a:visited {
  color: #fff;
}
.sections {
  padding: 0;
  background: #98dafc;
}
.sections .nav {
  padding: 0;
}
.sections .nav > li > a {
  color: #312c32;
  border-bottom: solid 1px #312c32;
}
.sections .nav > li.active {
  border-left: solid 4px #daad86;
  font-weight: bold;
}
.sections .nav > li.active {
  background: #fff;
}
.sections .nav > li > a:hover {
  background: #fff;
}

/* App body */
.mid {
  margin: 0 auto;
}
.sheet {
  padding: 0 5em 3em 5em;
  margin-top: 50px;
  margin-bottom: 100px;
  border: solid 1px #eee;
  border-radius: 5px;
}

/* Widths */
.width-90 {
  width: 90%;
}
.width-50 {
  width: 50%;
}

/* Buttons */
form .btn-primary {
  background-color: #ba9077;
  color: #fff;
  border: none;
}
form .btn-primary:hover, .btn-primary:active {
  background-color: #b56969;
}

/* Widgets */
.ui-datepicker-trigger {
  border: none;
  background: none;
}

/* Forms */
.tab-pane form {
  width: 90%;
}
.main form {
  padding-top: 3em;
}
#id_date_of_birth {
  width: 92%;
  display: inline-block;
}
#id_year_applied {
  width: 15%;
}
.form-horizontal .errorlist {
  list-style: none;
  margin-left: 8em;
  color: #e62739;
}
.radio {
  display: inline-block;
  width: 80px;
}
label {
  font-weight: normal;
}
.help-text {
  font-size: 90%;
}

/* Progress */
.progress {
  background: #fafafa;
  border-radius: 0;
  margin-bottom: 0;
  text-align: center;
}
.sections,
.progress {
  min-height: 570px;
}
.progress a.btn {
  margin-top: 1em;
}
.progress .bg-success {
  line-height: 3em;
}

/* Percentag Loader */
#topLoader {
  width: 256px;
  height: 256px;
  margin-bottom: 32px;
}
#container {
  width: 940px;
  padding: 10px;
  margin-left: auto;
  margin-right: auto;
}
#animateButton {
  width: 256px;
}

/* Messages */
.messages,
.messages li {
  margin: 0;
  padding: 0;
  text-align: center;
}
.messages li.success {
  color: #fff;
  background: #5cb85c;
}
.messages {
  list-style: none;
  margin-top: 1em;
  margin-bottom: 5.5em;
}
.messages li {
  padding: .5em 0 .5em .5em;
}
