{% extends 'base.html' %}

{% block page_title %}
&ndash; Reset Password
{% endblock %}

{% block app_body %}
  <div class="container-fluid">
    <div class="row">
      <div class="mid width-90 app-body">
        <div class="page-header">
          <h1>Reset Password</h1>
        </div>

        <p>Forgotten your password? Enter your email address below, and we'll email instructions for setting a new one.</p>

        <form method="post" class="form-horizontal password-reset-form col-md-6">

          {% csrf_token %}
          {{ form.email.errors }}

          <div class="form-group">
            <label for="id_email" class="col-sm-1 control-label">{{ form.email.label }}</label>
            <div class="col-sm-9">
              {{ form.email }}
            </div>
            <div class="col-sm-2">
              <button type="submit" class="btn btn-primary">Reset My Password</button>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
{% endblock %}
