{% extends 'base.html' %}

{% block page_title %}
&ndash; Confirm Password Reset
{% endblock %}

{% block app_body %}
  <div class="container-fluid">
    <div class="row">
      <div class="mid width-90 app-body">
        {% if validlink %}
          <div class="page-header">
            <h1>Confirm Password Reset</h1>
          </div>

          <p>Please enter your new password twice so we can verify you typed it in correctly.</p>
          
          <form method="post" class="form-horizontal password-reset-form col-md-6">

            {% csrf_token %}

            <div class="form-group">
              {{ form.new_password1.errors }}
              <label for="id_new_password1" class="col-sm-3 control-label">New password</label>
              <div class="col-sm-9">
                {{ form.new_password1 }}
              </div>
            </div>

            <div class="form-group">
              {{ form.new_password2.errors }}
              <label for="id_new_password2" class="col-sm-3 control-label">Confirm password</label>
              <div class="col-sm-9">
                {{ form.new_password2 }}
              </div>
            </div>

            <div class="form-group">
              <div class="col-sm-offset-3 col-sm-9">
                <button type="submit" class="btn btn-primary">Change My Password</button>
              </div>
            </div>
          </form>
        {% else %}
          <div class="page-header">
            <h1>Password Reset Unsuccessful</h1>
          </div>
          <p>The password reset link was invalid, possibly because it has already been used. Please try resetting your password again.</p>
        {% endif %}
      </div>
    </div>
  </div>
{% endblock %}
