{% extends 'base.html' %}

{% block page_title %}
{{ user.staff.organization.name }} &ndash; Staff Admin {% block admin_page_title %}{% endblock %}
{% endblock %}

{% block app_body %}
<div class="container-fluid">
  <div class="mid width-90 app-body">
    <div class="row">
      {% with user.staff.organization as org %}
        <div class="page-header">
          <h3>{{ org.name }} Applications</h3>
        </div>

        <table class="table table-hover">
          <thead>
            <tr>
              <th>Application Name</th>
              <th>Is Open?</th>
              <th>Fee (GHS)</th>
              <th>Deadline</th>
            </tr>
          </thead>
          <tbody>
            {% for application in org.application_set.all %}
              <tr>
                <td>
                  <a href="{% url 'staffadmin:user_application_list' org.slug application.pk %}">
                    {{ application.get_name }}
                  </a>
                </td>
                <td>
                  {% if application.is_open %}
                    Yes
                  {% else %}
                    No
                  {% endif %}
                </td>
                <td>{{ application.fee }}</td>
                <td>{{ application.deadline }}</td>
              </tr>
            {% empty %}
              <p>{{ org.name }} has no applications.</p>
            {% endfor %}
          </tbody>
        </table>
      
      {% endwith %}
    </div>
  </div>
</div>
{% endblock %}
