{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<div id="progress">
</div>

{% if application_completion == 1 %}
  <p class="bg-success width-90 mid">{{ feedback }}</p>

  {% if not user_application.is_complete %}
    {% if user_application.application.has_fee %}
      <a href="{% url 'pay:index' user_application.pk %}" class="btn btn-success btn-lg width-90" role="button">
        Pay Fee
      </a>
    {% else %}
      {% with user_application.application.organization.slug as org_slug %}
        <a href="{% url 'success' org_slug user_application.application.slug %}" class="btn btn-success btn-lg width-90" role="button">
          Submit
        </a>
      {% endwith %}
    {% endif %}
  {% endif %}
{% else %}
  <a class="btn btn-primary btn-lg width-90 disabled" role="button">
    {% if feedback %}
      {{ feedback }}
    {% else %}
      Let's get this started!
    {% endif %}
  </a>
{% endif %}
