{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<div id="progress">
</div>

{% if not user_application.is_complete %}
  <p class="{% if application_completion == 1 %}bg-success{% else %}bg-primary{% endif %} mid">{{ feedback }}</p>
{% endif %}

{% if application_completion == 1 %}
  {% if not user_application.is_complete %}
    {% if user_application.application.has_fee %}
      <a href="{% url 'pay:index' user_application.pk %}" class="btn btn-success btn-lg width-100" role="button">
        Pay Fee
      </a>
    {% else %}
      {% with user_application.application.organization.slug as org_slug %}
        <a href="{% url 'success' org_slug user_application.application.slug %}" class="btn btn-success btn-lg width-100" role="button">
          Submit
        </a>
      {% endwith %}
    {% endif %}
  {% endif %}
{% endif %}
