{% if messages %}
<ul class="messages">
  {% for message in messages %}
  <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
  {% endfor %}
</ul>
{% endif %}

<div id="container">
  <div id="topLoader">      
  </div>
</div>

{% if application_completion == 1 %}
  <p class="bg-success width-90 mid">Application Complete!</p>
  <a href="{% url 'payments:pay' user_application.pk %}" class="btn btn-success btn-lg width-90" role="button">Submit</a>
{% else %}
  <a class="btn btn-primary btn-lg width-90 disabled" role="button">Application Incomplete</a>
{% endif %}
