<ul class="nav">
  <!-- <li class="sidebar-brand">
    <a href="#">
      Start Bootstrap
    </a>
  </li> -->
  {% for section in user_application.application.applicationform_set.all %}
  <li role="presentation" {% if form_name == section.form.name %}class="active"{% endif %}>
    <a href="{{ section.get_absolute_url }}">
      {{ section.form.name }}
      {% if section.slug in saved_forms %}<span class="glyphicon glyphicon-ok pull-right tick" aria-hidden="true"></span>{% endif %}
    </a>
  </li>
  {% endfor %}
</ul>
