{% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %}&ndash; {{ user_application.application.get_name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-theme.css' %}">
{% endblock %}

{% block extra_js %}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="//cdn.rawgit.com/kimmobrunfeldt/progressbar.js/1.0.1/dist/progressbar.js"></script>
<script>

  $(function() {

    $('.date').datepicker({
      showOn: "both",
      buttonImage: "{% static 'img/calendar.png' %}",
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy',
      yearRange: '-80:+10'
    });

    var bar = new ProgressBar.Circle(progress, {
      color: '#aaa',
      // This has to be the same size as the maximum width to
      // prevent clipping
      strokeWidth: 4,
      trailWidth: 1,
      easing: 'easeInOut',
      duration: 1400,
      text: {
        autoStyleContainer: false
      },
      from: { color: '#b8d9f1', width: 1 },
      to: { color: '#5cb85c', width: 4 },
      // Set default step function for all animate calls
      step: function(state, circle) {
        circle.path.setAttribute('stroke', state.color);
        circle.path.setAttribute('stroke-width', state.width);

        var value = Math.round(circle.value() * 100);
        if (value === 0) {
          circle.setText('0%');
        } else {
          circle.setText(value + '%');
        }

      }
    });
    bar.text.style.fontFamily = '"Raleway", Helvetica, sans-serif';
    bar.text.style.fontSize = '2em';

    bar.animate({{ application_completion }});  // Number from 0.0 to 1.0

  });
</script>
{% block page_js %}{% endblock %}
{% endblock %}

{% block org_header %}
<ul class="nav navbar-nav">
  <li><a href="{{ user_application.application.get_absolute_url }}">{{ user_application.application.get_name }} - Sample</a></li>
</ul>
{% endblock %}

{% block app_body %}
<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2 sections">
      {% include 'setup/_sections.html' %}
    </div>
    <div class="col-sm-7 main">
      {% block application_form %}
      {% endblock %}
    </div>
    <div class="col-sm-3 progress">
      {% include '_progress.html' %}
    </div>
  </div>
</div>
{% endblock %}
