{% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %}{{ application.get_name }}{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-theme.css' %}">
{% endblock %}

{% block extra_js %}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{% static 'js/jquery.percentageloader-0.2.js' %}"></script>
<script>
  $(function() {
    $('#id_date_of_birth').datepicker({
      showOn: "button",
      buttonImage: "{% static 'img/calendar.png' %}",
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy',
      yearRange: '-50:-15'
    });

    var $topLoader = $("#topLoader").percentageLoader();

    var topLoaderRunning = false;

    $topLoader.percentageLoader({onready: function () {

      if (topLoaderRunning) {
        return;
      }
      topLoaderRunning = true;

      var kb = 0;
      var totalKb = 999;

      var animateFunc = function () {
        kb += 17;
        progress = kb / totalKb;
        value = {{ application_completion }};

        $topLoader.percentageLoader({progress: progress});

        if (kb < totalKb && progress < value) {
          setTimeout(animateFunc, 25);
        } else {
          topLoaderRunning = false;
        }
      };

      setTimeout(animateFunc, 25);

    }});

  });
</script>
{% endblock %}

{% block org_header %}
<h1 class="org-header">Ashesi University College Undergraduate Application</h1>
{% endblock %}

{% block app_body %}
<div class="row">
  <div class="col-sm-2 sections">
    {% include 'setup/_sections.html' %}
  </div>
  <div class="col-sm-7 main">
    {% include 'app/_personal_info.html' %}
  </div>
  <div class="col-sm-3 progress">
    {% include 'setup/_progress.html' %}
  </div>
</div>
{% endblock %}
