{% extends 'base.html' %}

{% block page_title %}My Applications{% endblock %}

{% block app_body %}
<div class="mid width-90">
  <div class="row">
    <div class="page-header">
      <h2>My Applications</h2>
    </div>
    <ul>
    {% for user_app in user.userapplication_set.all %}
      <li><a href="{{ user_app.application.get_absolute_url }}">{{ user_app.application }}</a></li>
    {% empty %}
      <p>You have no applications.</p>
    {% endfor %}
    </ul>

    <div class="page-header">
      <h2>Available Applications</h2>
    </div>

    <form class="search-form" action="" method="get">
      <div class="input-group">
        <input type="text" class="form-control input-lg" name="q" placeholder="Search available applications">
        <span class="input-group-btn">
          <button class="btn btn-default" type="submit">
            <span class="glyphicon glyphicon-search" aria-hidden="true"></span>
          </button>
        </span>
      </div>
    </form>

    <table class="table">
      <!-- <caption>Optional table caption</caption> -->
      <thead>
        <tr>
          <th>#</th>
          <th>First Name</th>
          <th>Last Name</th>
          <th>Username</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">2</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
        <tr>
          <th scope="row">3</th>
          <td>Mark</td>
          <td>Otto</td>
          <td>@mdo</td>
        </tr>
      </tbody>
    </table>

    <ul>
    {% for application in applications %}
      <li><a href="{{ application.get_absolute_url }}">{{ application }}</a></li>
    {% endfor %}
    </ul>

  </div>
</div>
{% endblock %}
