{% extends 'base.html' %}

{% load staticfiles %}

{% block page_title %}Apply{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery-ui-theme.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/jquery.percentageloader-0.2.css' %}">
{% endblock %}

{% block extra_js %}
<script src="//code.jquery.com/ui/1.11.4/jquery-ui.js"></script>
<script src="{% static 'js/jquery.percentageloader-0.2.js' %}"></script>
<script src="{% static 'js/loader.js' %}"></script>
<script>
  $(function() {
    $('#id_date_of_birth').datepicker({
      showOn: "button",
      buttonImage: "{% static 'img/calendar.png' %}",
      changeMonth: true,
      changeYear: true,
      dateFormat: 'dd-mm-yy',
      yearRange: '-50:-15'
    });

  });
</script>
{% endblock %}

{% block school_header %}
<h1 class="school-header">Ashesi University College Undergraduate Application</h1>
{% endblock %}

{% block app_body %}
<div class="row">
  <div class="col-sm-2 sections">
    {% include 'app/_sections.html' %}
  </div>
  <div class="col-sm-7 main">
    {% include 'app/_personal_info.html' %}
  </div>
  <div class="col-sm-3 progress">
    {% include 'app/_progress.html' %}
  </div>
</div>
<!-- <div class="mid width-90">
  <div class="row">
    <div class="tab-content">
      <div role="tabpanel" class="tab-pane active" id="personal-info">
      </div>
      <div role="tabpanel" class="tab-pane" id="scholarships">Scholarships</div>
      <div role="tabpanel" class="tab-pane" id="housing-info">...</div>
      <div role="tabpanel" class="tab-pane" id="family-info">...</div>
      <div role="tabpanel" class="tab-pane" id="sponsor-info">...</div>
      <div role="tabpanel" class="tab-pane" id="academic-history">...</div>
      <div role="tabpanel" class="tab-pane" id="extra-activities">...</div>
      <div role="tabpanel" class="tab-pane" id="travel-info">...</div>
      <div role="tabpanel" class="tab-pane" id="work-experience">...</div>
      <div role="tabpanel" class="tab-pane" id="career-aspirations">...</div>
      <div role="tabpanel" class="tab-pane" id="personal-essay">...</div>
      <div role="tabpanel" class="tab-pane" id="additional-info">...</div>
      <div role="tabpanel" class="tab-pane" id="exam-details">...</div>
    </div>
  </div>
</div> -->
{% endblock %}
