{% extends 'ashesiundergraduate/index.html' %}

{% block application_form %}
<div class="row">
  <form action="" method="post" class="form-horizontal mid width-90">

    {% csrf_token %}

    <div class="form-group">
      {{ form.have_passport.errors }}
      <label for="{{ form.have_passport.id_for_label }}" class="col-sm-3 control-label">{{ form.have_passport.label }}</label>
      <div class="col-sm-9">
        {% for radio in form.have_passport %}
          <div class="radio">
            {{ radio }}
          </div>
        {% endfor %}
      </div>
    </div>

    <div class="dependence">
      {{ dep_form.management_form }}

      {% for f in dep_form %}
        {{ f.non_field_errors }}
        {{ f.id }}

        <div class="form-group">
          {{ f.passport_number.errors }}
          <label for="{{ f.passport_number.id_for_label }}" class="col-sm-3 control-label">{{ f.passport_number.label }}</label>
          <div class="col-sm-9">
            {{ f.passport_number }}
          </div>
        </div>

        <div class="form-group">
          {{ f.expiry_date.errors }}
          <label for="{{ f.expiry_date.id_for_label }}" class="col-sm-3 control-label">{{ f.expiry_date.label }}</label>
          <div class="col-sm-9">
            {{ f.expiry_date }}
          </div>
        </div>
      {% endfor %}

      <div class="form-group">
        <div class="col-sm-offset-3 col-sm-9">
          <button type="submit" class="btn btn-primary">Save</button>
        </div>
      </div>
    </div>
    
  </form>
</div>
{% endblock %}
