{% extends 'ashesiundergraduate/index.html' %}

{% block application_form %}
<div class="row">
  <form action="" method="post" class="form-horizontal mid width-90">

    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
      {{ form.address.errors }}
      <label for="{{ form.address.id_for_label }}" class="col-sm-3 control-label">{{ form.address.label }}</label>
      <div class="col-sm-9">
        {{ form.address }}
      </div>
    </div>

    <div class="form-group">
      {{ form.town.errors }}
      <label for="{{ form.town.id_for_label }}" class="col-sm-3 control-label">{{ form.town.label }}</label>
      <div class="col-sm-9">
        {{ form.town }}
      </div>
    </div>

    <div class="form-group">
      {{ form.state.errors }}
      <label for="{{ form.state.id_for_label }}" class="col-sm-3 control-label">{{ form.state.label }}</label>
      <div class="col-sm-9">
        {{ form.state }}
      </div>
    </div>

    <div class="form-group">
      {{ form.country.errors }}
      <label for="{{ form.country.id_for_label }}" class="col-sm-3 control-label">{{ form.country.label }}</label>
      <div class="col-sm-9">
        {{ form.country }}
      </div>
    </div>

    <div class="form-group">
      <div class="col-sm-offset-3 col-sm-9">
        <button type="submit" class="btn btn-primary">Save</button>
      </div>
    </div>

  </form>
</div>
{% endblock %}
