{% extends 'ashesiundergraduate/index.html' %}

{% block page_js %}
<script>
  $(function() {

    $('.dependence').hide();

    if ($('#id_living_with').val() == 'ORPH') {
      $('.dependence').show();
    }

    $('#id_living_with').change(function() {
      var selectedOption = $(this).find(':selected').text();
      if (selectedOption.indexOf('orphanage') !== -1) {
        $('.dependence').fadeIn();
      } else {
        $('.dependence').hide();
      }
    });

  });
</script>
{% endblock %}

{% block application_form %}
<div class="row">
  <form action="" method="post" class="form-horizontal mid width-90">

    {% csrf_token %}
    {{ form.non_field_errors }}

    <div class="form-group">
      {{ form.address.errors }}
      <label for="{{ form.address.id_for_label }}" class="col-sm-3 control-label">{{ form.address.label }}</label>
      <div class="col-sm-9">
        {{ form.address }}
      </div>
    </div>

    <div class="form-group">
      {{ form.town.errors }}
      <label for="{{ form.town.id_for_label }}" class="col-sm-3 control-label">{{ form.town.label }}</label>
      <div class="col-sm-9">
        {{ form.town }}
      </div>
    </div>

    <div class="form-group">
      {{ form.state.errors }}
      <label for="{{ form.state.id_for_label }}" class="col-sm-3 control-label">{{ form.state.label }}</label>
      <div class="col-sm-9">
        {{ form.state }}
      </div>
    </div>

    <div class="form-group">
      {{ form.country.errors }}
      <label for="{{ form.country.id_for_label }}" class="col-sm-3 control-label">{{ form.country.label }}</label>
      <div class="col-sm-9">
        {{ form.country }}
      </div>
    </div>

    <div class="form-group">
      {{ form.living_with.errors }}
      <label for="{{ form.living_with.id_for_label }}" class="col-sm-3 control-label">{{ form.living_with.label }}</label>
      <div class="col-sm-9">
        {{ form.living_with }}
      </div>
    </div>

    <div class="dependence">

      <div class="form-group">
        {{ dep_form.name.errors }}
        <label for="{{ dep_form.name.id_for_label }}" class="col-sm-3 control-label">{{ dep_form.name.label }}</label>
        <div class="col-sm-9">
          {{ dep_form.name }}
        </div>
      </div>

      <div class="form-group">
        {{ dep_form.contact_person_name.errors }}
        <label for="{{ dep_form.contact_person_name.id_for_label }}" class="col-sm-3 control-label">{{ dep_form.contact_person_name.label }}</label>
        <div class="col-sm-9">
          {{ dep_form.contact_person_name }}
        </div>
      </div>

      <div class="form-group">
        {{ dep_form.contact_person_title.errors }}
        <label for="{{ dep_form.contact_person_title.id_for_label }}" class="col-sm-3 control-label">{{ dep_form.contact_person_title.label }}</label>
        <div class="col-sm-9">
          {{ dep_form.contact_person_title }}
        </div>
      </div>

      <div class="form-group">
        {{ dep_form.contact_person_phone_number.errors }}
        <label for="{{ dep_form.contact_person_phone_number.id_for_label }}" class="col-sm-3 control-label">
          {{ dep_form.contact_person_phone_number.label }}
        </label>
        <div class="col-sm-9">
          {{ dep_form.contact_person_phone_number }}
          <span class="help-text">{{ dep_form.contact_person_phone_number.help_text }}</span>
        </div>
      </div>

      <div class="form-group">
        {{ dep_form.email.errors }}
        <label for="{{ dep_form.email.id_for_label }}" class="col-sm-3 control-label">{{ dep_form.email.label }}</label>
        <div class="col-sm-9">
          {{ dep_form.email }}
        </div>
      </div>

    </div>
    {% include '_form_button.html' %}
  </form>
</div>
{% endblock %}
